# Default ignored files
/.idea/shelf/
/.idea/workspace.xml
/out/
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore library directory in .idea.
# Not sure what these file used for.
/.idea/libraries/